<h2 class="page-header">Login</h2>
<form (ngSubmit)="onLoginSubmit()">
    <div class="form-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username" class="form-control" >
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" >
    </div>
    <input type="submit" class="btn btn-primary" value="Login">
</form>